@media (max-width: 412px) {
	.projects-header {
		font-size: 14pt;
	}
	.project-name {
		font-size: 13pt;
	}
	.project-link {
		font-size: 12pt;
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content:space-between;
		flex-wrap: wrap;
	}
	.title-text {
		font-size: 12pt;
		width: 80%;
		text-align: right;
	}
	.image {
		width: 20%;
		height: 30%;
	}
}

@media (max-width: 300px) {
	.title-text {
		font-size: 10pt;
	}
	.projects-header {
		font-size: 15pt;
	}
	.project-name {
		font-size: 10pt;
	}
	.project-link {
		font-size: 10pt;
	}
	.container {
		display: flex;
		flex-direction: column;
	}
}
 @media (min-width: 413px) {
	.title-text {
		font-size: 20pt;
		color: #2d3c49;
		text-align:right;
	}
	.projects-header {
		font-size: 30pt;
	}
	.project-name {
		font-size: 21pt;
	}
	.project-link {
		font-size: 19pt;
	}
}

.title_text {
	color: #2d3c49;
	width:70%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-right: 10px;
}
.image {
	width: 20%;
}
.container {
	width: 100%;
	display:flex;	
	justify-content:space-between;
	flex-wrap: wrap;
}
.project {
	width:32%;
	text-align:center;
}
.projects-header {
	color: #7d97ad;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.project-name {
	color: #2d3c49;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.project-link {
	color: #2d3c49;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


a {
	color: #2d3c49;
	text-decoration: none;
	text-align: center;
}
hr {
	border: 0;
	clear:both;
	width: 96%;               
	background-color:#2d3c49;;
	height: 3px;
}
